/* Header styling */





.header {
    width: 100.36%;
    background-color: #1f5368; /* Dark background for the header */
    padding: 10px 0;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px 30px 0 0;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
    flex-wrap: wrap;
    gap: 15px;
}

.app-heading {
    /* position: relative; Allows precise positioning */
    color: #f0f8ff; /* Light AliceBlue to contrast with the dark background */
    font-size: 2.5em; /* Slightly larger for emphasis */
    font-weight: bold;
    left: 30%;
    top: 3.75%;
    position: absolute;
    margin: 0;
    text-align: center; /* Center aligns the heading */
    text-transform: uppercase; /* Makes the text all uppercase for a bold look */
    letter-spacing: 2px; /* Adds spacing between letters for a clean look */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Subtle shadow for a 3D effect */
    padding: 10px 20px; /* Adds space around the text */
    border: 2px solid #28577a; /* Thin border to frame the text */
    border-radius: 10px; /* Rounded corners for a softer look */
    background: linear-gradient(135deg, #1f5368, #28577a); /* Gradient matching the background */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Adds depth */
}



.header-btns {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.header-btn {
    color: white;
    background-color: #139263;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.header-btn:hover {
    background-color: #555;
}

.logo-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.logo {
    height: 40px; /* Adjust logo size */
    width: auto;
}

.header-btns button:last-child {
    margin-right: 0;
}

.export-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 10px 15px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: left;
    width: 100%;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.logo-image {
    width: 70px; /* Small width */
    height: 60px; /* Small height */
    max-width: 100px; /* Prevent resizing */
    max-height: 100px; /* Prevent resizing */
}


